.Calendar {
    width: 300px;
    height: 300px;
    padding: 0px;
}
.Week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0px;
    margin: 0px;
}
.Week > .DayOfWeek {
    list-style: none;
    text-align: center;
}
.Week > .DayOfWeek.Saturday {
    border: none;
}

.Days{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}
.Days > .Week > .Date{
    padding: 5px;
    margin: 0px;
}
.Days > .Week > .Date > .Teachers {
    margin: 0px;
    padding: 0px;
}
.Days > .Week > .Date > .Teachers > li {
    list-style: none;
}
.Days > .Week > .weekend{
    border-right: none;
}