.Calendar {
    padding: 0px;
}
.Week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0px;
    margin: 0px;
}
.Week > .DayOfWeek {
    list-style: none;
    text-align: center;
}
.Week > .DayOfWeek.Saturday {
    border: none;
}

.Days{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}
.Days > .Week > .Date{
    padding: 5px;
    margin: 0px;
}
.Days > .Week > .Date > .Teachers {
    margin: 0px;
    padding: 0px;
}
.Days > .Week > .Date > .Teachers > li {
    list-style: none;
}
.Days > .Week > .weekend{
    border-right: none;
}

.DayOfWeek{
    color: #1bddee;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 0px 2px rgba(27,221,238,1);
}

hr{
    margin: 10px 0 ;
}

.Days{
    transform: translateX(3%);
}

.DataNumber{
    font-weight: bold;
}

.Days > .Week > .Date:nth-child(1) > .DataNumber {
    color: rgb(252, 57, 50);
} 

.Days > .Week > .Date:nth-child(7) > .DataNumber {
    color: rgb(50, 80, 252);
} 