*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.this::after{
    content: ' ';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 10px;
    margin-left: 40px;
}

#whole {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}

#left-header{
    width: 15%;
    background: #00cc66;
    height: 100%;
    display: inline-block;
}

#left-header > a {
    width: 100%;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
} 

#left-header > a:last-child{
    position: absolute;
    bottom: 20px;
}

#main-header {
    width: 85%;
    font-size: 42px;
    color: #00b050;
    font-weight: bolder;
    position: absolute;
    top: 0;
    padding: 10px 0 0 30px;
}

#sub-header{
    font-size: 42px;
}

#right-header{
    float: right;   
    width: 25%;
    height: 100%;
    margin-right: 50px;
    display: inline-block;
    font-size: 0px;
}

#right-header > div {
    width: 100%;
    height: 30%;
    border: 5px solid #00cc66;
    background: white;
    box-sizing: border-box;
    margin: 200px 100px 50px 0px;
    font-size: 0px;
    box-sizing: border-box;
}

#right-header > div:last-child {
    margin: 0;
}

#right-header > div > a{
    display: inline-block;
    width: 90px;
    height: 40px;
    background: #00cc66;
    border: 1px solid #00cc66;
    position: absolute;
    float: right;
    right: 50px;
    text-decoration-line: none;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 22px;
    box-sizing: border-box;
}

#dayLog{
    display: inline-block;
}

#control{
    margin-left: 50%;
    transform: translateX(-50%) translateY(-150%);
    font-size: 0px;
}

#control > button {
    display:inline-block; background:#00cc66; position:relative; border: none;
}

#prevBtn, #nextBtn {
    width: 20px; height: 10px;
}

#control > button::after{
    content:''; position:absolute; width:0; height:0; border-style:solid;
}

#prevBtn::after, #nextBtn::after {
    border-width: 15px 20px;
}

#prevBtn::after {
    border-color:transparent #00cc66 transparent transparent; top:-10px; left:-40px;
}

#nextBtn::after {
    border-color:transparent transparent transparent #00cc66; top:-10px; left:20px;
}

#dayLog{
    margin-left: 50%;
    transform: translateX(-85%);
    font-size: 23px;
    font-weight: bold;
    color: tomato;
}